// Groovy syntax https://www.cheat-sheets.org/saved-copy/rc015-groovy_online.pdf

// Define system-specific variables for all processes
executor.queueSize = 50
executor.conda = '/home/gridsan/sswanson/mambaforge/envs/fragfold3'
env.repo_dir = '/data1/groups/keatinglab/swans/savinovCollaboration/FragFold'
env.colabfold_dir = '/home/gridsan/sswanson/localcolabfold/colabfold-conda'
env.alphafold_params_dir = '/home/gridsan/sswanson/localcolabfold/colabfold'
env.model_type = 'alphafold2_ptm' //alt: alphafold2_multimer_v1 alphafold2_multimer_v2 alphafold2_multimer_v3
env.pair_mode = 'unpaired' //alt: paired

// Define process profiles that can be selected by label
process {

    withLabel: standard {
        executor = 'local'
    }

    withLabel: cpu_network {
        executor = 'slurm'
        time = '1h'
        cpus = 1
        memory = '4 GB'
        queue = 'download'
        clusterOptions = '--ntasks-per-node=1'
    }

    withLabel: cpu {
        executor = 'slurm'
        time = '4h'
        cpus = 48
        memory = '187 GB'
        queue = 'xeon-p8'
        clusterOptions = '--ntasks-per-node=1'
    }

    withLabel: gpu {
        executor = 'slurm'
        time = '2h'
        cpus = 20
        memory = '192 GB'
        queue = 'xeon-g6-volta'
        clusterOptions = '--ntasks-per-node=1 --gres=gpu:volta:1'
        module = 'cuda/11.8'
    }
}